/* .banner {
  background: url("./img/anhBanner.jpg");
  height: 450px;
  width: 3000px;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}
.banner_content h1 {
  font-size: 48px;
  letter-spacing: 3px;
}
.banner_content p {
  font-size: 20px;
} */
.banner {
  height: 380px;
  background: url(./img/anhBanner.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: greenyellow;
  text-align: center;
}
.banner_content h1 {
  font-size: 52px;
}
.banner_content p {
  font-size: 22px;
  font-style: italic;
}
.btn_Banner {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #c62828;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}
.btn_Banner {
  background: #b71c1c;
}
.music {
  text-align: center;
  margin: 30px 0;
}
.music p {
  font-weight: bold;
  color: #c62828;
}
.main_GioiThieu image {
  width: 80%;
  display: block;
  margin: 15px auto;
}
.header_GioiThieu #textDauTrang {
  text-align: center;
  font-style: italic;
}
